<div {{ui-root}}>
  <div class="section">
    <div class="brand">
      {{link-to "Untitled Blog" "posts" class="link"}}
    </div>
  </div>

  <div class="section">
    <div class="item">
      {{link-to "Home" "posts" class="link"}}
    </div>

    <div class="item">
      {{link-to "About" "posts" class="link"}}
    </div>

    <div class="item">
      {{link-to "Sample Post" "posts" class="link"}}
    </div>

    <div class="item">
      {{link-to "Contact" "posts" class="link"}}
    </div>
  </div>
</div>
