<footer {{ui-root}}>
  <div class="social-links">
    <a href="#" class="social-link">
      {{#fa-stack size="lg" as |s|}}
        {{s.stack-2x "circle"}}
        {{s.stack-1x "twitter" inverse=true}}
      {{/fa-stack}}
    </a>

    <a href="#" class="social-link">
      {{#fa-stack size="lg" as |s|}}
        {{s.stack-2x "circle"}}
        {{s.stack-1x "facebook" inverse=true}}
      {{/fa-stack}}
    </a>

    <a href="#" class="social-link">
      {{#fa-stack size="lg" as |s|}}
        {{s.stack-2x "circle"}}
        {{s.stack-1x "github" inverse=true}}
      {{/fa-stack}}
    </a>
  </div>

  <p class="copyright">Copyright © Your Website 2016</p>
</footer>
