<article>
  <header class="post__header">
    <div class="wrapper">
      <h1 class="post__title">
        {{model.title}}
      </h1>

      <h2 class="post__subtitle">
        {{model.summary}}
      </h2>

      <p class="post__meta">
        Posted by {{link-to model.author.fullName "posts"}} on
        <time datetime="{{moment-format model.publishedAt "YYYY-MM-DD"}}">
          {{moment-format model.publishedAt "MMMM D, YYYY"}}
        </time>
      </p>
    </div>
  </header>

  <div class="wrapper">
    {{{model.body}}}
  </div>
</article>
